body {
  border: 20px solid #bdc3c7;
  margin: 20px 200px 20px 200px;
}

.date {
  color: #3498db;
  text-transform: uppercase;
  letter-spacing: .2em;
}

h2 {
  color: #2c3e50;
}

.post-container {
  margin: 20px;
}

.first-paragraph {
  border-left: 5px solid #bdc3c7;
  padding-left: 5px;
}
